.nav-top{
    background-color: rgb(47, 47, 114) !important;
}

.nav-link{
    color: white !important;

}

footer{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
}
.img-car{
    max-height: 50em !important;
}

.divisão{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
    padding: 3em !important;
    margin-bottom: 5m !important;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.719) !important;
}
.Turismo{
max-height: 3;
}